In [26]:
def name(): #Function Definition
    print("Yes Mam")

In [30]:
x="Nancy" #Function Calling
name()

Yes Mam

In [23]:
y="sharu"
name(y)

Yes Mam sharu

In [12]:
i=0
while(i=5):
    name()
    i=i+1

In [29]:
def my_function(fname):
  print(fname + " Bajaj")

my_function("Sharu")
my_function("Manu")
my_function("Shanaya")

Sharu Bajaj
Manu Bajaj
Shanaya Bajaj

In [44]:
def my_function(fname, lname):
  print(fname +" "+ lname)

my_function(fname="nancy",lname="sethi")
my_function(lname="bajaj",fname="sharu")
my_function("manu","bajaj")
my_function("umes","bam")

nancy sethi
sharu bajaj
manu bajaj
umes bam

In [39]:
def sum(num1,num2,num3):
    print("sum of",num1,"and",num2,"and",num3,"is",num1+num2)
    

sum(12,234,34)
sum(34,20,56)

sum of 12 and 234 and 34 is 246
sum of 34 and 20 and 56 is 54

In [43]:
def sum(num1,num2,num3):
    print("sum of",num1,"and",num2,"and",num3,"is",num1+num2)
    

sum(12,234)
sum(34,20,56)

TypeError: sum() missing 1 required positional argument: 'num3'

In [42]:
def my_function(*kids):
  print("The 3rd child is " + kids[2])

my_function("ghjg","Emil", "Tobias", "Linus","fddf","fdffe")

The 3rd child is Tobias

In [48]:
def my_function(**kid):
  print("skhskbvksbdvmsbv " + kid["fname"])

my_function(fname = "Sharu", lname = "Bajaj")

skhskbvksbdvmsbv Sharu

In [49]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [51]:
def sum(num1,num2,num3):
    return(num1+num2+num3)

x=sum(12,234,34)
y=sum(34,20,56)

print(x)
print(y)

280
110

In [52]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45